games/*
start-states/*
shuffler-src/config.lua
shuffler-src/.cmd-output.txt
message.log

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Editor settings
.vscode/
/.vs/slnx.sqlite
/.vs/bizhawk-shuffler-2/v17/.wsuo
/.vs/bizhawk-shuffler-2/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/bizhawk-shuffler-2/FileContentIndex/e78f2129-2a70-4ba5-9fbb-1389b0df9075.vsidx
/.vs/bizhawk-shuffler-2/FileContentIndex/e7f8b697-f6b0-46a2-b9c8-a45bbaac0c5b.vsidx
/.vs/bizhawk-shuffler-2/FileContentIndex/c305c0e7-3ab9-422c-80cf-243cced1dcdb.vsidx
/.vs/bizhawk-shuffler-2/FileContentIndex
